<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Especializaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Especializaciones</h1>
<a th:href="@{/}" class="button-link">Volver </a>
<table border="1">
    <tr>
        <th style="display: none;">ID</th>
        <th>Profesor</th>
        <th>Especializaciones</th>
    </tr>
    <tr th:each="profesor : ${profesores}">
        <td style="display: none;" th:text="${profesor.idProfesor}"></td>
        <td th:text="${profesor.nombre + ' ' + profesor.apellido}"></td>
        <td>
            <a th:href="@{|/especializaciones/nuevo/${profesor.idProfesor}|}">Agregar</a>
            <a th:href="@{|/especializaciones/ver/${profesor.idProfesor}|}">Ver</a>
        </td>
    </tr>
</table>
</body>
</html>
