<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Curso</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Curso</h1>
<form th:action="@{/cursos}" th:object="${curso}" method="post">
    <input type="hidden" th:field="*{idCurso}" readonly>
    <label for="nombreCurso">Nombre Curso:</label>
    <input type="text" id="nombreCurso" th:field="*{nombreCurso}" readonly><br>
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" th:field="*{descripcion}" readonly><br>
    <label for="nivel">Nivel:</label>
    <input type="text" id="nivel" th:field="*{nivel}" readonly><br>
    <label for="duracion">Duración:</label>
    <input type="number" id="duracion" th:field="*{duracion}" readonly><br>
    <label for="horario">Horario:</label>
    <input type="text" id="horario" th:field="*{horario}" readonly><br>
</form>

<table border="1">
    <tr>
        <th style="display: none;">ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo Electrónico</th>
        <th>Teléfono</th>
        <th>Dirección</th>
    </tr>
    <tr th:each="estudiante : ${estudiantes}">
        <td style="display: none;" th:text="${estudiante.idEstudiante}"></td>
        <td th:text="${estudiante.nombre}"></td>
        <td th:text="${estudiante.apellido}"></td>
        <td th:text="${estudiante.correoElectronico}"></td>
        <td th:text="${estudiante.telefono}"></td>
        <td th:text="${estudiante.direccion}"></td>
    </tr>
</table>

<a th:href="@{/profesores}">Volver</a>
</body>
</html>
