<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Profesor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<form th:action="@{/profesores}" th:object="${curso}" method="post">
    <h1 th:text="${curso.idCurso == null ? 'Nuevo Profesor' : 'Editar Profesor'}"></h1>
    <input type="hidden" th:field="*{profesor.idProfesor}">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" th:field="*{profesor.nombre}"><br>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" th:field="*{profesor.apellido}"><br>
    <label for="especialidad">Especialidad:</label>
    <input type="text" id="especialidad" th:field="*{profesor.especialidad}"><br>
    <label for="certificaciones">Certificaciones:</label>
    <input type="text" id="certificaciones" th:field="*{profesor.certificaciones}"><br>
    <label for="correoElectronico">Correo Electrónico:</label>
    <input type="text" id="correoElectronico" th:field="*{profesor.correoElectronico}"><br>
    <h1 th:text="${curso.idCurso == null ? 'Nuevo Curso' : 'Editar Curso'}"></h1>
    <input type="hidden" th:field="*{idCurso}">
    <label for="nombreCurso">Nombre Curso:</label>
    <input type="text" id="nombreCurso" th:field="*{nombreCurso}"><br>
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" th:field="*{descripcion}"><br>
    <label for="nivel">Nivel:</label>
    <input type="text" id="nivel" th:field="*{nivel}"><br>
    <label for="duracion">Duración:</label>
    <input type="number" id="duracion" th:field="*{duracion}"><br>
    <label for="horario">Horario:</label>
    <input type="text" id="horario" th:field="*{horario}"><br>
    <button type="submit">Guardar</button>
</form>
<a th:href="@{/}" class="button-link">Volver</a><br><br>
</body>
</html>
