<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Especialización</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1 th:text="${especializacion.idEspecializacion == null ? 'Nueva Especialización' : 'Editar Especialización'}"></h1>
<form th:action="@{/especializaciones}" th:object="${especializacion}" method="post">
    <input type="hidden" th:field="*{idProfesor}">
    <label for="nombreEspecializacion">Nombre Especialización:</label>
    <input type="text" id="nombreEspecializacion" th:field="*{nombreEspecializacion}"><br>
    <label for="nivelEspecializacion">Nivel Especialización:</label>
    <input type="text" id="nivelEspecializacion" th:field="*{nivelEspecializacion}"><br>
    <label for="institucion">Institución:</label>
    <input type="text" id="institucion" th:field="*{institucion}"><br>
    <button type="submit">Guardar</button>
</form>
<a th:href="@{/especializaciones}" class="button-link">Volver</a>
</body>
</html>
